body {
    background-color: forestgreen;
  }
  
h1 {
    border: groove;
    border-width: 3px;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 238, 0);
    color: rgb(252, 5, 5);
  }

  .button {
    border: groove;
    border-width: 3px;
    background-color: rgb(255, 238, 0);
    color: rgb(252, 5, 5);
    height:80px;
    width:80px;
}