<!DOCTYPE html>
<html>
    <title>x in a row</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheet/game_start.css') }}">
    <body>
        <center>
        <h2>{{headline}}</h2>
        {% if game_status == 'active' %}
        <form action = 'http://127.0.0.1:5000/game_player2' method ='post'>
            <table>
                {% for i in range(height) %}
                <tr>
                    {% for j in range(width) %}
                        {% if board[i][j] == '.' %}
                            <td><img src="{{ url_for('static', filename='board_tile.png') }}" width="80" height="80" ></td>
                        {% elif board[i][j] == 'x' %}  
                            <td><img src="{{ url_for('static', filename='board_tile_red.png') }}" width="80" height="80" ></td>
                        {% elif board[i][j] == 'o' %}  
                            <td><img src="{{ url_for('static', filename='board_tile_yellow.png') }}" width="80" height="80" ></td>
                        {% endif %}    
                    {% endfor %}
                </tr>
                {% endfor %}
                
            </table>
            <table>
                <tr>
                    {% set number = 1 %}
                    {% for i in range(width) %}
                    {% set number = number|int + i|int %}
                    <button class="button" name='name' type="submit" value={{number}}>{{number}}</button>
                    {% endfor %}
                </tr>
            </table>
        <!--<div id= div1>
            <p>{{instruction}} <input type = 'text' name = 'name' /> <input type = 'submit' value = 'submit' /></p>
        </div>-->
        </form>
        {% else %}   
        <meta http-equiv="refresh"; content="1; URL=http://127.0.0.1:5000/win" >
        {% endif %}
        </center>
    </body>
</html>